.price-container {
    position: relative;
    cursor: pointer;
}


.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: black;
    margin-left: 10px;
    background: white;
    padding: 10px;
    z-index: 100;
    width: max-content;
    min-width: 200px;
}

.price-container:hover .modal {
    display: block;
}
